<form action="" [formGroup]="form" class="d-flex flex-column col-3 mx-auto">
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password"  name="password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="col-5 mx-auto p-2" [disabled]="!form.valid" (click)="submitForm()">Enviar</button>

</form>