<div class="p-4 col-12">
    <h1 class="text-center">ADMIN</h1>

    <section class="d-flex flex-column col-10 mx-auto  mt-5 justify-content-center gap-2 " >
        
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel *ngFor="let course of courses">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    {{course.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div *ngFor="let commission of commissions">
                <mat-accordion *ngIf="course.commissionsIds.includes(commission.id)">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <p>Comisión {{commission.id}}</p>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div>
                            <p class="fw-bold">PROFESOR: <span class="fw-normal">{{commission.teacher}}</span> </p>
                            <p class="fw-bold">ALUMNOS</p>
                            <ul *ngFor="let student of students">
                                <li *ngIf="commission.studentsIds.includes(student.id)" class="list-unstyled">
                                    <p>{{student | studentsNamesPipe}}</p>
                                </li>
                            </ul>

                        </div>
                    </mat-expansion-panel>
                </mat-accordion>            

            </div>
        </mat-expansion-panel>
    </mat-accordion>

    </section>
</div>
