<div class="p-4 col-12">
    <h1 class="text-center">ADMIN</h1>

    <section class="d-flex flex-column col-10 mx-auto  mt-5 justify-content-center gap-2 " >
        
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel *ngFor="let course of courses">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    {{course.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div *ngFor="let commissionId of course.commissionsIds">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <p>Comisión {{commissionId}}</p>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div>
                            <p class="fw-bold">ALUMNOS</p>
                            <ul *ngFor="let student of students">
                                <li *ngIf="+student.commissionId! === commissionId" class="list-unstyled">
                                    <p>{{student | studentsNamesPipe}}</p>
                                </li>
                            </ul>
                            
                        </div>
                    </mat-expansion-panel>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    </section>
</div>
