<div>
    <div class="background-img">
        <div class="hero-content col-8">
            <h1 class="fw-bold">Curso de {{courseData.course | titlecase}}</h1>
    
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam earum, excepturi maxime, aliquid nulla magnam illo ea iusto eum, ipsum quibusdam delectus odit rem ex saepe accusantium reprehenderit nemo suscipit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quod exercitationem voluptatibus harum ipsam sapiente possimus enim aliquid, atque amet consequuntur laudantium sit aperiam debitis quam nam! Ea, qui repellat.</p>
        </div>
    </div>
</div>
