<form [formGroup]="form" (ngSubmit)="submit(form.value)" action="" class=" my-5">
    <h3 class="text-center">{{mode}} comisión </h3>

    <mat-form-field appearance="fill" class="col-12">
        <mat-label>Curso</mat-label>
        <mat-select formControlName="courseId" name="courseId">
            <mat-option *ngFor="let course of courses" [value]="course.id" >
                {{course.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12">
        <mat-label>Id</mat-label>
        <input matInput name="id" formControlName="id" >
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12">
        <mat-label>Profesor/a</mat-label>
        <input matInput name="teacher" formControlName="teacher" >
    </mat-form-field>

    <div class="text-center mt-4 row gap-2 align-items-center justify-content-center">
        <button mat-raised-button color="primary" type="submit" class="col-5 p-2" [disabled]="!form.valid">{{mode === 'Editar' ? 'Actualizar' : 'Enviar'}}</button>
        <button mat-raised-button color="warn" type="button" *ngIf="mode === 'Editar'" class="col-5 p-2" (click)="setMode('Crear')">Cancelar</button>
    </div>
</form>