.courses_cards-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;

    mat-card {
        box-shadow: 3px 3px 5px rgb(225, 225, 225);
        border-radius: 8px;
        padding: 10px 0;

        img {
            width: 50%;
            height: 80px;
            margin: 0 auto;
        }
    }


}