<div class="col-12 my-5">
    <div class="courses_cards-list">
        <mat-card class="example-card" *ngFor="let element of courses">
          <img mat-card-image src="{{element.image}}" alt="course_img">
            <mat-card-header>
              <mat-card-title>{{element.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-2">
                <mat-card-subtitle>{{element.totalHours}} horas totales</mat-card-subtitle>
              <p>
                {{element.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a [routerLink]="['courses', element.name]" class="text-decoration-none mx-auto"><button mat-button class="mx-auto" color="primary">Ver Más</button></a>
            </mat-card-actions>
          </mat-card>
    </div>


</div>