.courses_cards-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    mat-card {
        border: 1px solid white;
        border-radius: 8px;

        img {
            width: 50%;
            height: 120px;
            margin: 0 auto;
        }
    }


}