<div class="col-12">    

    <div class="d-flex flex-row col-12">
        <div class="hero_content">
            <div class="hero_text">
                <h1 class="col-6">Cursos Online</h1>
                
                <p class="col-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vitae accusantium cum ratione atque perspiciatis natus assumenda commodi esse nulla reiciendis, quisquam suscipit, eos aperiam dolor! Dolore dolorum hic eaque.</p>
            </div>
        </div>

    </div>

    <div class="home_content col-11 mx-auto">
        <app-courses-cards></app-courses-cards>
    </div>


</div>