<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="over" hasBackdrop="true" >
    <h3 class="fw-bold text-center" appHeadingsSize>Cursos</h3>
    <mat-list>
      <mat-list-item>Node.js</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Flask</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>React Native</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="sidenav.toggle()" class="cursor-pointer">menu</mat-icon>
        <span>Cursos App</span>
      </mat-toolbar-row>
    </mat-toolbar>
    
    <app-home></app-home> <!-- HOME COMPONENT -->

  </mat-sidenav-content>
</mat-sidenav-container>