<form [formGroup]="form" (ngSubmit)="submit()" action="" class="col-3 mx-auto mt-5">
    <div class="d-flex gap-2 ">
        <label for="name" class="col-4">Nombre</label>
        <input type="text" name="name" id="name" class="col-8" placeholder="Nombre" formControlName="name">
    </div>
    <p *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="error">El campo del nombre no puede ir vacío</p>

    <div class="d-flex gap-2 mt-2">
        <label for="name" class="col-4">Email</label>
        <input type="email" name="email" id="email" class="col-8" placeholder="Email" formControlName="email">
    </div>
    <p *ngIf="form.get('email')?.invalid  && form.get('email')?.touched" class="error">El campo del email no puede ir vacío</p>

    <div class="d-flex gap-2 mt-2">
        <label for="name" class="col-4">Password</label>
        <input type="password" name="password" id="password" class="col-8" placeholder="Password" formControlName="password">
    </div>
    <p *ngIf="form.get('password')?.invalid && form.get('password')?.touched " class="error">Debe ingresar una contraseña de al menos 8 dígitos</p>

    <div class="text-center mt-4">
        <button type="submit" class="col-6 p-2" [disabled]="!form.valid">Enviar</button>
    </div>

</form>

