form {
    background-color: rgb(242, 242, 242);
    padding: 2rem;
    border-radius: 10px;

    input {
        // background-color: white;
    }

    button {
        // background-color: unset;
        // border: 1px solid #673AB7;
        // border-radius: 10px;
    }

    .error {
        color: red;
        margin: 0;
    }
}

// ======================================================================================================

